<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.milosvasic.tryout.groot.android.library.no_flavors">

    <application
            android:allowBackup="false"
            android:label="Android Library Tryout - No Flavors"
            android:supportsRtl="true" />

</manifest>